<h2>About <span class="brown">StoryTeller</span></h2>
<p>Version 1.0.0</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur corporis, delectus deserunt eos est ipsam labore laborum modi odit pariatur, perspiciatis praesentium quisquam sapiente sit sunt velit voluptas voluptate voluptates.</p>